:root {
    --btn-border-radius: 10px;
}

:root.dark {
    --border-btn: 1px solid rgb(220, 220, 220);
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: rgb(240, 240, 240);
    --color-btn-bg: rgb(36, 36, 36);
}

:root.light {
    --border-btn: 1px solid rgb(36, 36, 36);
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);
    --color-btn-bg: rgb(220, 220, 220);
}

.themed-btn {
    color: var(--color-base-text);
    background-color: var(--color-btn-bg);
    border: var(--border-btn);
    font-size: 1.125rem;
    padding: 10px 20px;
    border-radius: var(--btn-border-radius);
}

.themed-btn:focus {
    outline: var(--border-btn);
}

.toggle-theme-btn {
    position: fixed;
    top: 10px;
    right: 10px;
}

.themed-text-input {
    background-color: var(--color-base-bg);
    color: var(--color-base-text)
}

body {
    background-color: var(--color-base-bg);
    color: var(--color-base-text);
}

.title {
    display: flex;
    justify-content: center;
    font-style: italic;

}

/* Non standard stuff */
form {
    border: var(--border-btn);
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
    padding-right: 2px;
}


input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: var(--border-btn);
}